.title {
    font-size: 3rem;
    padding: 15px 10%;
}

#main {
    font-size: 3rem;
    color: black;
}

#desc {
    font-size: 1.5rem;
    color: black;
}

#smaller {
    font-size: 1rem;
    color: black;
}

#photo {
    /* padding-left: 2rem; */
    padding-bottom: 1rem;
    width: 45rem;
    height: auto;
}

/* .floatright {
    float: right;
    margin-left: 4rem;
    padding-bottom: 1rem;
} */