.body {
    color: black;
    /* padding-left: 5rem; */
}

#intro {
    font-size: 3rem;
    color: black;
}

#what-i-like {
    font-size: 1.5rem;
    color: rgb(0, 0, 255);
}

#promo {
    font-size: 1.5rem;
    color: black;
}

#main_para {
    font-size: 2rem;
    color: black;
}