:root {
    --bg-color: rgb(119, 230, 152);
}

body {
    margin: 0;
    font-family: "Calibri", "Arial", sans-serif;
    min-height: 100vh;
    background: var(--bg-color);
}

#to-index:hover,
#to-index:focus {
    box-shadow: 10px 10px 20px rgb(49, 214, 219)
}
