html {
    height: 100%;
}

:root {
    --bg-color: rgb(119, 230, 152);
    --neon-color: rgba(255, 0, 0, 0.7);
}

* body {
    margin: 0;
    padding: 0;
    font-family: "Calibri", "Arial", sans-serif;
    min-height: 100vh;
    background: var(--bg-color);

    min-height: 100%;

    display: flex;
    flex-direction: column;
}

li, a, button {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.logo {
    transition: all 300ms ease 0s;
}

.logo:hover,
.logo:focus {
    box-shadow: 10px 10px 20px rgb(0, 255, 76);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;

    background-color: rgba(0, 0, 0, 0.5);
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 300ms ease 0s;
}

.nav_links li a:hover {
    color: rgb(0, 180, 180);
}

button {
    font-size: 1.125rem;
    cursor: pointer;
    color: var(--neon-color);
    background-color: rgba(0, 0, 0, 0.5);
    border: var(--neon-color) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 50rem;

    text-shadow: 0 0 0.125em var(--neon-color);
    box-shadow: inset 0 0 0.5em 0 var(--neon-color), 0 0 0.5em 0 var(--neon-color);
    transition: all 300ms ease 0s;

    position: relative;
}

button::before {
    pointer-events: none;

    content: "";
    position: absolute;
    background-color: var(--neon-color);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(2em) rotateX(40deg) scale(1, 0.5);
    filter: blur(1.25em);
    opacity: 0.8;
}

button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    box-shadow: 0 0 1.75em 0.5em var(--neon-color);
    opacity: 0;

    transition: opacity 100ms linear;
    z-index: -5;
}

button:hover,
button:focus {
    background-color: var(--neon-color);
    color: white;
    text-shadow: none;
}

button:hover::before,
button:focus::before {
    opacity: 1;
}

button:hover::after,
button:focus::after {
    opacity: 1;
}

#to_index:hover,
#to_index:focus {
    box-shadow: 10px 10px 20px rgb(0, 255, 76);
}

.title {
    font-size: 3rem;
    padding: 15px 10%;
}

.cisco-badge {
    width: 12rem;
    height: 12rem;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding-top: 5rem;
    padding-left: 5rem;
}

footer {
    margin-top: auto;

    position: relative;
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* background-color: aqua; */
    height: auto;
    width: 100%;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#yt-channel {
    transition: all 300ms ease 0s;

    margin: 0;
    place-content: center;
    size: 4rem;
    text-align: center;
    position: sticky;
    bottom: 6rem;
    padding-right: 1rem;
    color: blue;

    font-family: 'consolas', Courier, monospace;
}

#insta {
    transition: all 300ms ease 0s;

    margin: 0;
    place-content: center;
    size: 4rem;
    text-align: center;
    position: sticky;
    bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: blue;

    font-family: 'consolas', Courier, monospace;
}

#discord {
    transition: all 300ms ease 0s;

    margin: 0;
    place-content: center;
    size: 4rem;
    text-align: center;
    position: sticky;
    bottom: 2rem;
    padding-left: 1rem;
    color: blue;

    font-family: 'consolas', Courier, monospace;
}

#yt-channel:hover,
#yt-channel:focus {
    transition: all 300ms ease 0s;
    color: teal;
}

#insta:hover,
#insta:focus {
    transition: all 300ms ease 0s;
    color: teal;
}

#discord:hover,
#discord:focus {
    transition: all 300ms ease 0s;
    color: teal;
}

#yt-icon {
    height: 1.5rem;
    width: auto;
}