.cisco-badge {
    width: 12rem;
    height: 12rem;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding-top: 5rem;
    /* padding-left: 5rem; */
}

#word {
	padding-top: 3rem;
	/* padding-left: 5rem; */
	color: black;
}

#word_not_padding_top {
	font-size: 1.25rem;
	/* padding-left: 5rem; */
	color: black;
}

#main-content {
    /* padding-left: 5rem; */
    color: black;
}

#table_links {
	transition: all 300ms ease 0s;
    color: blue;
}

#table_links:hover,
#table_links:focus {
	transition: all 300ms ease 0s;
	color: teal;
}

.content-table {
    width: 60rem;
    height: auto;

    min-width: 15rem;
    background-color: white;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.5rem;
}

.content-table thead tr {
    background-color: rgb(0, 152, 121);
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: rgb(243, 243, 243);
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(0, 152, 121);
}

.content-table tbody tr:hover,
.content-table tbody tr:hover {
    background-color: rgb(240, 240, 240);
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid rgb(221, 221, 221);
}

#blacken {
    color: black;
}